/*

    Article styles

*/
.article {
    position: relative;

    &.article-wide-item {
        padding-top: 280px;

        @include media-breakpoint-down(lg) {
            padding: 100px 20px;
        }

        @media (min-width: 1921px) {
            padding-top: 130px;
        }

        .article-item {
            width: 850px;
            margin: 0 auto;

            .awi-bg {
                background-color: $white;
                padding: 50px 100px;
                z-index: 1;
                position: relative;

                @include media-breakpoint-down(md) {
                    padding: 50px 75px;
                }

                @include media-breakpoint-down(sm) {
                    padding: 40px 20px;
                }
            }

            @include media-breakpoint-down(lg) {
                width: 100%;
                max-width: 850px;
            }

            @include media-breakpoint-down(sm) {
                max-width: 550px;
            }

            .article-header h2 {
                @include media-breakpoint-down(lg) {
                    max-width: 100%;
                }
            }
        }
    }
    .article-wide-item-bg {
        position: absolute;
        z-index: -1;
        top: 0;
        width: 100%;
        height: 720px;
        left: 0;

        @media (min-width: 1360px) {
            top: 0;
            width: 90vw;
            height: 720px;
            right: 0;
            left: auto;
        }

        @media (min-width: 160em) {
            top: 0;
            width: 1500px;
            height: 510px;
            left: 50%;
            transform: translateX(-50%);
        }

        @include media-breakpoint-down(lg) {
            height: 370px;

            &, > img {
                width: 100%;
            }
        }

        > img {
            max-width: 100%;
            display: block;
            margin-left: auto;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-item {
        max-width: 1000px;
        margin: 0 auto;

        @include media-breakpoint-up(md) {
            .article-thumb + .article-header {
                margin-top: -70px;
            }
        }

        .article-footer {

            > a {
                margin: 0 23px 23px 0;
            }
        }

        &.row {
            max-width: 100%;
            margin-right: -15px;
            margin-left: -15px;
        }
    }

    &-thumb {
        margin-left: auto;
        display: block;

        @include media-breakpoint-down(md) {
            margin-bottom: 25px;
        }

        @include media-breakpoint-up(md) {
            width: calc(100% - 130px);
        }

        > img {
            display: block;
            max-width: 100%;
        }
    }

    &-intro {
        margin: 45px 0;

        @include media-breakpoint-down(md) {
            margin: 16px 0 30px;
        }

        ul {
            margin-bottom: 1rem;
        }
    }
}

.text-columns {


    @include media-breakpoint-up(md) {
        column-count: 2;
        -webkit-column-gap: 30px;
        -moz-column-gap: 30px;
        column-gap: 30px;

        p {
            -webkit-column-break-after: avoid;
            -moz-column-break-after: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
        }
    }
}

.article-item {

    .article-header {

        .meta-title {
            color: $green;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 1px;
        }

        h2 {
            font-size: 67px;
            max-width: 516px;
            line-height: 1;
            margin: 5px 0;

            @include media-breakpoint-down(lg) {
                font-size: 60px;
            }

            @include media-breakpoint-down(md) {
                font-size: 55px;
            }

            @include media-breakpoint-down(sm) {
                font-size: 45px;
            }
        }

        &.full-width {

            h2 {
                max-width: 100%;
            }
        }
    }
}

/*

    Blog styles

*/
.article-wrapper {

    @include media-breakpoint-up(lg) {
        display: flex;
        align-items: flex-start;
    }

    @include media-breakpoint-down(sm) {
        display: block;
    }

    .article-container {
        //width: 68%;
        width: 100%;

        @include media-breakpoint-down(sm) {
            width: 100%;
            margin-bottom: 60px;
        }
    }

    .article-sidebar {
        width: 100%;

        @include media-breakpoint-up(lg) {
            padding-left: 40px;
            width: 32%;
        }
    }
}

.blog-item {
    margin-bottom: 30px;
    display: flex;

    &:last-child {
        margin-bottom: 0;
    }

    @include media-breakpoint-down(md) {
        display: block;
        margin-bottom: 60px;
    }

    &--thumb {
        width: 38.75%;

        @include media-breakpoint-up(lg) {
            height: 230px;
        }

        @include media-breakpoint-down(md) {
            width: 100%;
            margin-bottom: 30px;
        }

        a {
            display: block;
            height: 100%;
        }

        img {
            width: 100%;
            @include media-breakpoint-up(lg) {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &--content {
        width: 61.25%;

        @include media-breakpoint-down(md) {
            width: 100%;
        }

        > * {
            margin: 20px 0;

            &:first-child { margin-top: 0 }
            &:last-child { margin-bottom: 0 }
        }
    }
    @include media-breakpoint-up(lg) {
        .blog-item--thumb + .blog-item--content {
            padding-left: 30px;
        }
    }

    /* Blog item content */
    &--date {
        color: #6D6E71;
        font-size: 12px;
        font-family: $font-black;
    }

    &--intro {

        p:last-child {
            margin-bottom: 0;
        }

        a {
            text-decoration: underline;
        }
    }

    &--title {
        margin-top: 5px;

        a {
            color: $black;

            &:hover {
                color: $primary;
            }
        }
    }

    &--tag-list {
        line-height: 1;
        margin-bottom: 5px;
    }
}

.browser-IE {

    .blog-item--thumb {

        > img {
            width: 100%;
        }
    }
}

.post-detail-container {
    @include media-breakpoint-up(lg) {
        padding-left: 100px;
    }

}
.post-header {
    margin-bottom: 40px;
    h1 {
        font-family: $font-black;
        font-size: 67px;
        line-height: 1;

        @include media-breakpoint-down(md) {
            font-size: 45px
        }
    }
}
.post-entry {
    hr {
        margin: 40px 0;
    }
    ul, p {
        margin: 25px 0;
    }
    /* subtitle */
    h6 {
        color: $primary;
        font-family: $font-bold;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

}
