footer.page-footer {
    background-color: $green;
    padding: 65px 0;
    color: $white;

    @include media-breakpoint-down(sm) {
        padding: 15px 0;
    }

    .main-menu {

        a:hover {
            color: $white;
        }

        li {
            padding: 0;
        }

        @include media-breakpoint-down(lg) {
            li {
                margin: 0 10px;

                a {
                    font-size: 14px;
                }
            }
        }

        @include media-breakpoint-down(sm) {
            li {
                display: block;
            }
        }

    }
    .logo {
        position: relative;
        top: -10px;

        @include media-breakpoint-down(md) {
            img {
                width: 70px
            }
        }
    }

    .copyright {

        @include media-breakpoint-down(md) {
            font-size: 12px;
        }

        @include media-breakpoint-down(sm) {
            display: none;
        }

        &__mobile {
            display: block;

            @include media-breakpoint-up(md) {
                display: none;
            }
        }
    }
    .social-icons {

        @include media-breakpoint-down(lg) {
            li {
                margin: 0 10px;

                a {
                    font-size: 18px;
                }
            }
        }

        @include media-breakpoint-down(md) {
            li a {
                font-size: 14px;
            }
        }
    }

    .footer-menu-box,
    .footer-logo-box {
        display: flex;
        align-items: center;

        @include media-breakpoint-down(sm) {
            display: block;
            text-align: center;
        }

        .social-icons, .copyright {
            margin-left: 60px;

            @include media-breakpoint-down(lg) {
                margin-left: 30px;
            }

            @include media-breakpoint-down(sm) {
                margin-left: 0;
            }
        }
    }
}

.footer-container {
    width: 100%;
    padding: 0 15px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
        display: block;
        text-align: center;

        * {
            margin: 15px 0;
        }
    }
}
