/*

    Bootstrap overriding

*/
.form-control {
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid;

    &, &:focus {
        outline: none;
        box-shadow: none;
        background-color: transparent;
    }

    &.error {
        border-bottom-color: $red;
    }

    &.valid, &[area-invalid="false"] {
        border-bottom-color: $green;
    }
}

/* Custom */
.form-group {
    position: relative;
    margin-bottom: 30px;

    > label {
        display: block;
        height: auto;
        line-height: 1;
    }

    > label:not(.error) {
        position: absolute;
        margin: 0;
        bottom: 12px;
        transition: 0.2s;
    }

    .form-control.empty ~ label:not(.error),
    .form-control:focus ~ label:not(.error) {
        bottom: 35px;
        font-size: 12px;
        font-family: $font-black;
        color: $green;
    }

    > label.error {
        position: absolute;
        bottom: -25px;
        font-size: 12px;
        color: $red;
        font-family: $font-black;
    }

    textarea.form-control {
        height: 130px;
        resize: none; /* prevent resize */

        ~ label:not(.error) {
            bottom: auto;
            top: 10px;
        }

        &.empty ~ label:not(.error),
        &:focus ~ label:not(.error) {
            top: -10px;
            bottom: auto;
        }
    }
}
