header.page-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1450px) {
        height: 95px;
    }

    .logo {
        width: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        @media (max-width: 1450px) {
            width: 80px;
        }

        @include media-breakpoint-down(sm) {
            background-color: transparent;
        }

        > img {
            position: relative;
            top: -10px;
            left: 2px;
            width: 86px;
            max-width: 100%;

            @media (max-width: 1450px) {
                width: 50px;
            }

            @include media-breakpoint-down(sm) {
                top: -3px;
                left: 0;
            }
        }
    }

    .toggle-menu {
        display: none;
        @extend .btn-link;
        @extend .border-0;
        color: $white;
        font-size: 20px;
        margin-right: 15px;
        outline: none!important;

        &:hover {
            cursor: pointer;
        }

        @include media-breakpoint-down(sm) {
            display: block;
        }
    }

    &.page-header--tiny {
        height: 150px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        background: url("../img/fixed-header-bg.jpg") no-repeat center;
        background-size: cover;
        transition: 0.2s;

        @include media-breakpoint-down(lg) {
            height: 100px;
        }

        @include media-breakpoint-down(sm) {
            height: 70px;
        }

        .logo {
            position: static;
        }

        &.on-scroll {
            height: 80px;

            @include media-breakpoint-down(sm) {
                height: 50px;
            }
        }

        &.green-on-hover {
            background: transparent;

            &.on-scroll {
                background: $primary;

                .btn {
                    background-color: $white;
                    color: $primary;
                }
            }
        }
    }
}



.fixed-header-place {
    height: 150px;

    @include media-breakpoint-down(lg) {
        height: 100px;
    }

    @include media-breakpoint-down(sm) {
        height: 70px;
    }
}

/* header.page-header */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .right-side {
        padding: 0 90px;

        @media (max-width: 1450px) {
            padding: 0 25px;
        }
    }

    @include media-breakpoint-down(sm) {
        display: none;
    }
}

.main-menu {

    > ul {

        > li {
            display: inline-block;
            margin: 0 31px;
            position: relative;
            padding: 15px 0;

            @media (max-width: 1450px) {
                margin: 0 15px;
            }

            &:hover .menu-dropdown {
                display: block;
            }

            > a {
                color: $white;
                font-family: $font-bold;

                > i {
                    font-size: 14px;
                    margin-left: 5px;
                }

                &:hover {
                    color: $green;
                }
            }
        }
    }
}

.menu-dropdown {
    background-color: $white;
    margin: 0;
    padding: 0 20px;
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    box-shadow: 0 5px 10px rgba($black, 0.2);
    
    > li {
        margin: 15px 0;

        a {
            color: $black;

            &:hover {
                color: $green;
            }
        }
    }
}

header.page-header {

    .logo {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 6.7vw;
        padding: 15px;

        @media (max-width: 1450px) {
            width: 80px;
            padding: 0;
        }
    }
}

.container-lg {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
