.map-container {
    position: relative;

    .layer-pointers {
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;

        .point-item {
            position: absolute;
            cursor: pointer;

            > img {
                position: absolute;
                bottom: -5px;
                left: 50%;
                transform: translateX(calc(-50% - 1px));
                width: 19px;
            }
        }
    }

    .layer-map {

        > img {
            display: block;
            width: 100%;
        }
    }
}

.map-tooltip {
    position: absolute;
    top: 0;
    width: 305px;
    box-shadow: 1px 20px 7px rgba($black, 0.1);
    background-color: $white;
    height: 500px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;


    &.visible {
        visibility: visible;
        opacity: 1;
        pointer-events: initial;
        left: 0;
        right: auto;

        @media (min-width: 1400px) {
            left: -100px;
            right: auto;
        }

        .mt-map-dot {
            right: -5px;
        }

        #svgline {
            left: 100%;
            right: auto;
        }
    }

    &.visible.right {
        left: auto;
        right: 0;

        @media (min-width: 1400px) {
            left: auto;
            right: -100px;
        }

        #svgline {
            right: 100%;
            left: auto;
        }

        .mt-map-dot {
            left: -5px;
        }
    }

    &.visible,
    &.visible.right {

        @include media-breakpoint-down(sm) {
            position: fixed;
            left: 50%;
            top: 50%;
            right: auto;
            transform: translate(-50%, -50%);
            z-index: 99;
        }
    }
}

#svgline {
    position: absolute;
    pointer-events: none;
    top: 0;

    @include media-breakpoint-down(sm) {
        display: none!important;
    }

    #lineShadow, #line {
        stroke-width: 2;
        stroke-dasharray: 8;
    }

    #line {
        stroke: $green;
    }

    #lineShadow {
        stroke: #000;
        filter: url(#blur);
    }
}

#map {
    width: 100%;
    height: 100%;
}

.mt {

    &-map-container {
        height: 50%;
    }

    &-content {
        padding: 30px;
    }

    &-map-dot {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 9px;
        background-color: $green;
        top: 130px;
        z-index: 9;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

.m-place {
    font-size: 14px;
    line-height: 1.7;

    &-title {
        text-transform: uppercase;
        color: $green;
        font-family: $font-bold;
        letter-spacing: 1px;
    }

    &-address {
        margin: 15px 0;
    }

    a {
        color: $black;
    }
}