.mobile-menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black, 0.95);
    transition: .3s;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;

    &.show {
        opacity: 1;
        visibility: visible;
        pointer-events: initial;
    }

    &-container {
        text-align: center;

        .main-menu {

            li {
                display: block;
                margin: 25px 0;
            }
        }
    }

    .close-menu {
        @extend .btn-link;
        @extend .border-0;
        color: $white;
        position: absolute;
        top: 31px;
        right: 15px;
        font-size: 22px;
        cursor: pointer;

        &:hover {
            color: $white;
        }
    }

    .social-icons {
        margin: 30px 0;

        li {
            display: inline-block;
            margin: 15px;

            a {
                font-size: 18px;
            }
        }
    }
}