.person-item {
    margin-bottom: 30px;

    &--image {
        height: 280px;
        position: relative;

        > img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--hover {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba($white, .71);
        visibility: hidden;
        opacity: 0;
        transition: .2s;
    }

    &--name {
        font-family: $font-black;
        font-size: 30px;
        color: $black;
        text-align: center;
        padding: 12px 0;
    }

    &:hover {

        .person-item--hover {
            visibility: visible;
            opacity: 1;
        }
    }
}

.browser-IE {

    .person-item--image {
        height: auto;
        img {
            width: 100%;
            height: auto;
        }
    }
}

[class*="-dark"] .person-item {

    .person-item--name {
        color: $white;
    }
}