.section {
    position: relative;

    &.section-tiny {
        padding: 70px 0;
    }

    &.section-small {
        padding: 110px 0;
    }

    &.section-default {
        padding: 140px 0;
    }

    &.section-small,
    &.section-default {
        @include media-breakpoint-down(sm) {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    &.section-dark {
        background: url('../img/dark-pattern-bg.jpg') no-repeat center;
        background-size: cover;
    }

    &.section-dark,
    &.section-inverse {
        color: $white;
    }

    .proxy-container {
        max-width: 1570px;
        margin: 0 auto;
        display: block;
        padding: 130px 0;

        @include media-breakpoint-down(lg) {
            padding: 80px 0;
        }
    }

    &.main {
        height: 100vh;
        display: flex;
        align-items: center;
        padding: 130px 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;

        .main-text-container {
            max-width: 640px;
            margin: 0 auto;
        }

        .text-entry {
            color: $white;
            p {
                margin: 25px 0 33px;
            }
        }

        &.not-full-height {
            height: auto;
        }
    }

    /*
        Banner section ( main, first screen on the page )
    */
    &.banner {
        height: 100vh;
        display: flex;
        align-items: center;

        @include media-breakpoint-down(sm) {
            background: url(../img/home_bg_mobile.jpg) no-repeat left;
            background-size: cover;
            padding: 150px 0;
            height: auto;
        }
        @media (max-height: 680px) {
            padding: 80px 0;
            height: auto;
        }

        .banner-decor {
            background-image: url(../img/home_bg_sidebar.jpg);
            background-position: bottom left;
            background-repeat: no-repeat;
            background-size: cover;
            pointer-events: none;
            position: absolute;
            bottom: -20px;
            z-index: -1;
            right: 0;
            left: 0;
            top: 0;

            @media (max-width: 1450px) {
                bottom: 0;
                background-position: 0;
                background-size: cover;
                background-image: url(../img/home_bg__wide.jpg);
            }

            @include media-breakpoint-down(lg) {
                background-position: 0;
            }

            @include media-breakpoint-down(md) {
                background-position: -370px 0;
            }

            @include media-breakpoint-down(sm) {
                display: none;
            }

            @media (min-width: 1921px) {
                background-image: url(../img/home_bg_larger.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: bottom center;
                bottom: 0;
            }
        }

        .banner-container {
            width: 1170px;
            padding: 0px 15px;
            margin: 0 auto;

            @media (max-width: 1450px) {
                width: 840px;
            }

            @include media-breakpoint-down(md) {
                width: 600px;
            }
            @include media-breakpoint-down(sm) {
                width: auto;
            }
        }

    }

    /*

        Section for article item

    */
    &.section-article {
        margin: 230px 0;

        @include media-breakpoint-down(lg) {
            margin: 100px 0;
        }

        .container {
            position: relative;
        }
    }

    /*
        Green left sidebar
    */
    .sidebar {
        width: 6.7vw;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 1450px) {
            width: 80px;
            background-color: $green;
        }

        @include media-breakpoint-down(sm) {
            display: none;
        }

        @media (min-width: 1921px) {
            background-color: $green;
        }
    }

    .section-bg-element {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(100%)
        }
    }
}

section:not(.banner) {

    .sidebar {
        background-color: $green;
    }
}

.scene-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @include media-breakpoint-down(sm) {
        display: none;
    }

    .scene {
        display: flex;
        align-items: flex-start;
        width: 100%;
        overflow: hidden;
        height: 100vh;
        min-height: 760px;

        > div {
            position: absolute;
            top: 50vh;
            width: 25%;
            height: 110vh;
            margin-top: -55vh;
        }

        > div:nth-child(1) {
            left: 0
        }

        > div:nth-child(2) {
            left: 25%
        }

        > div:nth-child(3) {
            left: 50%
        }

        > div:nth-child(4) {
            left: 75%
        }

        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
}

.quadruple-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    display: flex;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .col {
        width: 25%;
        height: 100%;
        padding: 0;
        overflow: hidden;

        @include media-breakpoint-down(md) {
            display: none;
        }

        div {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            transform: scale(1.2);
            position: absolute;
        }

        @media (min-height: 760px) {

            &:nth-child(1) img {
                right: 0;
            }

            &:nth-child(2) img {
                left: 0;
            }

            &:nth-child(3) img {
                right: 0
            }

            &:nth-child(4) img {
                left: 0
            }
        }
    }
}

/* gray background color set */
@each $item, $bgcolor in $grays {
    .bg--gray--#{$item} {
        background-color: $bgcolor;
    }
}

/* multiple background color set */
@each $item, $bgcolor in $colors {
    .bg--color--#{$item} {
        background-color: $bgcolor;
    }
}
