body {
    overflow-x: hidden;

    &.overflow-locked {
        overflow: hidden;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    &:hover, &:active, &:focus {
        text-decoration: none;
    }
}

b {
    font-family: $font-bold;
}

/* bootstrap override */
.btn {
    font-family: $font-bold;
    font-size: 16px;
}

.btn.btn-outline-primary {
    color: $black;
    &:hover {
        color: $white;
    }
}

@media (max-width: 620px) {
    .btn {
        font-size: 14px;
        padding: 0.4rem .8rem;
    }
}

.table {
    font-size: 12px;
    font-family: $font-bold;

    tr {

        td, th {
            &:first-child {
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }
        }
    }

    tbody {

        tr:last-child td {
            border-bottom: none;
        }
    }

    thead {

        th {
            border-top: none;
            border-bottom-width: 1px;
        }
    }

    b, strong, th {
        font-family: $font-black;
    }

    .table-active {
        background-color: transparent;

        td {
            color: $primary;
            background-color: transparent;
        }
    }
}

/* css icons */
i.play-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 100%;
    border: 1px solid $white;
    height: 40px;
    width: 40px;

    &:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 6px solid $white;
        margin-left: 3px;
    }
}

/* section typography */
.section.banner {

    .banner-text {
        color: $white;

        > span {
            display: block;
            margin-bottom: 15px;
            margin-left: 5px;
        }

        h1 {
            font-size: 105px;
            font-family: $font-black;
            line-height: 1;
            margin-bottom: 25px;

            @include media-breakpoint-down(md) {
                font-size: 75px;
            }

            > span {
                display: block;
            }
        }
    }
}

/* special text */
.transparent-text {
    color: transparent;
    -webkit-text-stroke-width: 1px;

    &.black {
        -webkit-text-stroke-color: $black;
    }

    &.white {
        -webkit-text-stroke-color: $white;
    }
}

.browser-IE {

    .transparent-text {
        color: #fff;

        &.black {
            color: #fff;
        }

        &.white {
            color: #fff;
        }
    }
}

/* custom buttons */
.btn-play {
    @extend .btn-link;
    @extend .border-0;
    color: $white;
    font-family: $font-bold;
    outline: 0 solid transparent !important;
    display: inline-flex;
    align-items: center;

    &:hover {
        cursor: pointer;
        color: $white;
        text-decoration: none;
    }

    > span {
        margin-bottom: 4px;
    }

    > i.play-icon {
        margin-right: 15px;
    }
}

.thumb-lg-fluid {

    @include media-breakpoint-down(sm) {
        display: block;
        max-width: 100%;
    }
}

.page-title {
    color: $white;
    font-family: $font-black;
    font-size: 50px;

    @include media-breakpoint-up(sm) {
        font-size: 70px;
    }

    @include media-breakpoint-up(md) {
        font-size: 110px;
    }
}

.image-wrapper {

    &.imwr-xl {

        img {
            @include media-breakpoint-down(xl) {
                display: block;
                width: 100%;
            }
        }
    }
}
.absolute-x-middle--md {
    max-width: 100%;

    @include media-breakpoint-up(md) {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        max-width: initial;
    }
}

.chart-wrapper {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;

    @include media-breakpoint-down(md) {
        margin-bottom: 40px;
    }
}

.chart-container {
    max-width: 600px;
}

.chart-controls {
    font-size: 12px;
    font-family: $font-bold;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 420px) {
        flex-direction: column;
        justify-content: center;

        > div {
            margin: 5px 0;

            &:first-child { margin-top: 0 }
            &:last-child { margin-bottom: 0 }
        }
    }

    button {
        background-color: transparent;
        border: none;
        padding: 0 0 0 25px;
        position: relative;
        font-size: 12px;
        font-family: $font-bold;
        cursor: pointer;
        outline: none;
        margin-left: 24px;
        line-height: 1;

        @include media-breakpoint-down(md) {
            margin-left: 5px;
            padding-left: 10px;
        }

        @media (max-width: 420px) {
            margin-left: 10px;
            padding-left: 15px;
        }

        > .chart-dataset-icon {
            display: inline-block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 10px;
            height: 10px;
            border-radius: 10px;

            @include media-breakpoint-down(md) {
                width: 7px;
                height: 7px;
            }

            @media (max-width: 420px) {
                top: 2px;
                transform: translateY(0);
            }
        }
    }
}

.tag-item {
    font-size: 12px;
    background-color: $gray-400;
    padding: 2px 10px 5px 10px;
    color: #454545;
    font-family: $font-bold;
    white-space: nowrap;
    display: inline-block;
    margin: 3px;

    &:hover {
        color: $white;
        background-color: $primary;
    }

    &:first-child {
        margin-left: 0;
    }
}

.article-sidebar {
    h4 {
        font-family: $font-bold;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
    }

    p {
        font-size: 14px;

        &.lead {
            font-size: 16px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    hr {
        border-top: 1px solid #E1E1E1;
    }

    .link-inverse {
        margin: 4px 0;
        display: block;
        color: $black;
        font-family: $font-bold;

        &:hover {
            color: $primary;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}


.bread-crumbs {
    a {
        color: $primary;
        margin-right: 8px;

        &:after {
            content: "/";
            margin-left: 10px;
        }
    }
}

.post-navigation {
    border-top: 1px solid #E1E1E1;
    padding: 35px 0;

    .post-navigation-row {

        a {
            &:first-child {
                text-align: right;

                .post-nav-item {
                    padding-right: 45px;

                    .nav-arrows {
                        text-align: right;
                    }
                }
            }

            &:last-child {
                text-align: left;

                .post-nav-item {
                    padding-left: 45px;

                    .nav-arrows {
                        text-align: right;
                    }
                }
            }
        }

        @include media-breakpoint-down(lg) {

            a {
                &:first-child {
                    .post-nav-item {
                        padding-right: 25px;
                    }
                }

                &:last-child {
                    .post-nav-item {
                        padding-left: 25px;
                    }
                }
            }
        }

        @include media-breakpoint-down(md) {

            a {
                &:first-child {
                    .post-nav-item {
                        padding-right: 15px;
                        .nav-arrows {
                            padding-right: 15px;
                        }
                    }
                }

                &:last-child {
                    .post-nav-item {
                        padding-left: 15px;
                        .nav-arrows {
                            padding-left: 15px;
                        }
                    }
                }
            }
        }
    }

    .post-nav-item {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        font-size: 14px;
        font-family: $font-bold;

        &--age {
            font-size: 12px;
            color: $primary;
        }

        &--name {
            color: $black;
        }

        .nav-text {

            > span {
                display: block;
            }
        }

        .nav-arrows {
            padding-top: 20px;

            i {
                display: none;
                @include media-breakpoint-down(md) {
                    display: block;
                }
            }

            img {
                @include media-breakpoint-down(md) {
                    display: none;
                }
            }
        }
    }
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {

    &.light-heading {
        font-family: $font-light;
        line-height: 1.5;
    }
}

iframe {
    width: 100%;
    background-color: #000;
}
