.social-icons {

    ul {
        li {
            display: inline-block;
            margin: 0 18px;
            a {
                color: $white;
                font-size: 24px;
            }
        }
    }
}

.sidebar {

    .social-icons {

        li {
            display: block;
            margin: 55px 0;
        }
    }
}

.decor-letter {
    position: absolute;
    pointer-events: none;

    @include media-breakpoint-down(lg) {
        display: none;
    }

    &.first {
        right: 91%;
        top: -360px;
    }

    &.second {
        left: 91%;
        top: -510px;
    }

    &.third {
        top: -160px;
        left: 100%;
    }
}



.gallery {
    display: flex;
    flex-wrap: wrap;

    .gallery-item {
        text-align: center;
        margin: 0 0 150px;

        @include media-breakpoint-down(lg) {
            margin: 0 0 60px;
        }

        > img {
            display: inline-block;
            max-width: 150px;

            @include media-breakpoint-down(lg) {
                max-width: 70px;
            }
        }
    }

    &.g-cols-5 {

        > div {
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;

            @media (max-width: 460px) {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }

    &.wide {
        align-items: center;

        @include media-breakpoint-up(md) {
            margin-right: -13%;
        }

        .gallery-item {

            @include media-breakpoint-up(md) {
                text-align: left;
            }
        }
    }
}

.gallery-blur-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 80px;
    font-size: 120px;
    font-family: $font-black;
    white-space: nowrap;
    line-height: 1;
    opacity: 0.15;
    filter: blur(9px);

    @include media-breakpoint-down(lg) {
        top: 46px;
        font-size: 74px;
        filter: blur(7px);
    }
}


/*

    Image utils

*/
.img-circle {
    width: 150px;   // default
    height: 150px;  // default
    border-radius: 100%;
    overflow: hidden;

    &__tiny {
        width: 55px;
        height: 55px;
    }

    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}



/*

    Feedback slider item

*/
.feedback-item {

    &--text {
        text-align: center;
        font-family: $font-light;
        font-size: 30px;
        font-style: italic;
        line-height: 1.2;
        margin-bottom: 40px;

        @include media-breakpoint-up(xl) {
            padding: 0 50px;
        }

        p {
            margin: 0;

            @include media-breakpoint-down(sm) {
                font-size: 20px;
            }
        }
    }

    &--simbol {
        text-align: center;
        margin: 0 0 35px 0;
    }

    &--person {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;

        p {
            margin: 0;
        }

        .feedback-item--image {
            margin-right: 20px;
        }

        .fi-name, .fi-position {
            margin: 7px 0;
        }

        .fi-name {
            font-family: $font-bold;
            color: $green;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .fi-position {
            font-family: $font-black;
            font-size: 12px;
        }
    }
}

.team-landscape {
    position: relative;

    @include media-breakpoint-down(md) {
        display: none!important;
    }
    
    &--img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;

        @include media-breakpoint-up(xl) {
            width: auto;
        }
    }
}

/*

    pace.js preloader

*/
body.pace-done {

    .preloader {
        opacity: 0;
        visibility: hidden;
    }
}

.preloader {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: none;
    transition: .5s;
    background-color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    border: 5px solid transparent;
    border-radius: 50%;
    visibility: visible;

    &.circular-loader1{
        width: 100px;
        height: 100px;
        display: table;
        padding: 10px;
        border-top: 5px solid $green;
        border-bottom: 5px solid $green;
        animation: circular_loader1 linear 2s infinite;
        visibility: visible;
    }

    &.circular-loader2 {
        width: 10px;
        height: 10px;
        display: table-cell;
        border-right: 5px solid lighten($green, 40);
        border-left: 5px solid lighten($green, 40);
        animation: circular_loader2 linear 2s infinite;
        visibility: visible;
    }

}

@keyframes circular_loader1 {

    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes circular_loader2 {

    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}