<div class="card border-0 mb-3" data-aos="fade-up">
    <div class="card-body px-4 pb-3 pt-1 border-0 bg--gray--300">
        <div class="input-group border-bottom border-dark">
            <span class="input-group-prepend">
                <i class="fa fa-search py-3 pr-3 text-dark"></i>
            </span>
            <input class="form-control border-0 py-0" type="text" placeholder="Search" id="example-search-input">
        </div>
    </div>
</div>

<div class="card border-0 mb-3" data-aos="fade-up">
    <div class="card-body p-4 border-0 bg--gray--300">
        <h4>Categories</h4>
        <hr>
        <p><a href="#"><b>Innovative tools for success</b></a></p>
        <p><b>Perhaps the most<br> transformative area</b></p>
        <p><b>Huge impact on the retail <br> industry.</b></p>
        <p><b>Another Sub-title</b></p>
        <p><b>Perhaps the most<br> transformative area</b></p>
    </div>
</div>

<div class="card border-0 mb-3" data-aos="fade-up">
    <div class="card-body p-4 border-0 bg--gray--300">
        <h4>Subscribe</h4>
        <hr>
        <div class="input-group border-bottom border-dark">
            <input class="form-control border-0 py-0" type="email" placeholder="E-mail">
        </div>
    </div>
</div>

<div class="card border-0 mb-3" data-aos="fade-up">
    <div class="card-body p-4 border-0 bg--gray--300">
        <h4>Contacts</h4>
        <hr>
        <p class="lead">
            <span class="text-primary">US callers</span><br>
            1 (888) 99-FLARE
        </p>
        <p class="lead">
            <span class="text-primary">UK callers</span><br>
            +44 (0)20 3514 6970
        </p>
        <p class="lead">
            <span class="text-primary">Singapore callers</span><br>
            +65 3158 3954
        </p>

        <div class="mb-3">
            <a class="btn btn-primary my-1" href="#">Find a local number</a>
            <a class="btn btn-outline-primary my-1 " href="#">Find a local number</a>
        </div>

        <p class="lead">Enter the Evo 'crystal ball'. If today you knew what your customers will want in the future, would that change how you make decisions...</p>

    </div>
</div>

<div class="card border-0 mb-3" data-aos="fade-up">
    <div class="card-body p-4 border-0 bg--gray--300">
        <h4>Contacts</h4>
        <hr>
        <p>
            <a class="link-inverse" href="#">Overview</a>
            <a class="link-inverse" href="#">CDN</a>
            <a class="link-inverse" href="#">Optimizer</a>
            <a class="link-inverse" href="#">Security</a>
            <a class="link-inverse" href="#">Analytics</a>
        </p>
    </div>
</div>
