<section class="section section-article " data-aos="fade-up">
    <div class="container">
        <div class="decor-letter first ">
            <img src="img/decor-letter-01.png" alt="">
        </div>
        <article class="article">
            <div class="article-item ">
                <a href="#" class="article-thumb " data-aos="fade-up">
                    <img src="img/article_thumb_01.jpg" alt="Innovative tools for success">
                </a>

                <header class="article-header " data-aos="fade-up">
                    <b class="meta-title">Wasted business value</b>
                    <h2>Innovative tools for success</h2>
                </header>

                <div class="article-intro text-columns " data-aos="fade-up">
                    <p><b>Wasted business value: excessive discounting, sub-optimal pricing, unsold inventory, missed sales. We hate that!</b></p>
                    <p>Enter the Evo 'crystal ball'. If today you knew what your customers will want in the future, would that change how you make decisions?
                        We can see how scientific learning is transforming business management, just like the self-driving-car is reshaping transport.</p>
                    <p>A revolution based on data: unlock hidden opportunity with simple-to-use software "for the rest of us" (words of a client CEO).</p>
                    <p>Proven by $200m+ margin already delivered by closing the supply/ demand gap. Helping our clients become truly customer-driven.</p>
                </div>

                <a class="btn btn-primary inverse " href="#" data-aos="fade-up">Discover More</a>
            </div>
        </article>
    </div>
</section>

<section class="section section-article" data-aos="fade-up">
    <article class="article article-wide-item" data-aos="fade-up">
        <div class="article-wide-item-bg">
            <img src="img/article_thumb_bg_02.jpg" alt="Pricing & Promotions">
        </div>
        <div class="article-item" data-aos="fade-up">
            <div class="awi-bg">
                <header class="article-header" data-aos="fade-up">
                    <b class="meta-title">Optimal dynamic revenues</b>
                    <h2>Pricing & Promotions</h2>
                </header>
                <div class="article-intro " data-aos="fade-up">
                    <p><b>Optimal dynamic revenues, achieved with optimal prices and promotions.</b></p>
                    <p>Initial list price, relevant price changes over time, automated product and customer lifecycle decisions: promotions, markdowns, anti-churn.</p>
                    <p>Market, product and customer signals impact expected sales; our systems re-calibrate prices and promotions over time, always within the constraints and goals set by management.</p>
                </div>
                <div class="article-footer " data-aos="fade-up">
                    <a class="btn btn-primary" href="#">Discover Evo Pricing</a>
                    <a class="btn btn-outline-primary" href="#">Discover Evo Promo</a>
                </div>
            </div>
        </div>
    </article>
</section>

<section class="section section-article" data-aos="fade-up">
    <div class="container">
        <div class="decor-letter second ">
            <img src="img/decor-letter-02.png" alt="">
        </div>
        <article class="article">
            <div class="article-item ">
                <a href="#" class="article-thumb " data-aos="fade-up">
                    <img src="img/article_thumb_01.jpg" alt="Innovative tools for success">
                </a>

                <header class="article-header " data-aos="fade-up">
                    <b class="meta-title">expected item potential</b>
                    <h2>Forecast & replenishment</h2>
                </header>

                <div class="article-intro text-columns " data-aos="fade-up">
                    <p><b>Optimal dynamic inventory management, from production to customer.</b></p>
                    <p>Planning, producing and purchasing based on expected item potential; dynamically (re-)allocating warehouse and store inventory.</p>
                    <p>Profitable transfers across stores, network wisdom and scientifically guaranteed optimality for maximum sales and minimum waste.</p>
                </div>

                <a class="btn btn-primary " data-aos="fade-up" href="#">Discover More</a>
            </div>
        </article>
    </div>
</section>