<div id="mainMenu" class="mobile-menu">
    <button class="close-menu"
            data-action="toggle-menu"
            data-target="#mainMenu">
        <i class="fa fa-times"></i>
    </button>

    <div class="mobile-menu-container">
        <div class="main-menu">
            <ul>
                <li><a href="#">Solutions</a></li>
                <li><a href="impact.html">Impact</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="our-people.html">Team</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <a href="#" class="btn btn-primary">Login</a>

        <div class="social-icons">
            <ul>
                <li>
                    <a href="#">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>