<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="person-item" data-aos="fade-up">
        <div class="person-item--image">
            <img src="img/person-10.jpg" alt="Robert">
            <div class="person-item--hover">
                <a href="#" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
        <div class="person-item--name">Robert</div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="person-item" data-aos="fade-up">
        <div class="person-item--image">
            <img src="img/person-11.jpg" alt="Robert">
            <div class="person-item--hover">
                <a href="#" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
        <div class="person-item--name">Robert</div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="person-item" data-aos="fade-up">
        <div class="person-item--image">
            <img src="img/person-12.jpg" alt="Robert">
            <div class="person-item--hover">
                <a href="#" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
        <div class="person-item--name">Robert</div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="person-item" data-aos="fade-up">
        <div class="person-item--image">
            <img src="img/person-13.jpg" alt="Robert">
            <div class="person-item--hover">
                <a href="#" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
        <div class="person-item--name">Robert</div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="person-item" data-aos="fade-up">
        <div class="person-item--image">
            <img src="img/person-14.jpg" alt="Robert">
            <div class="person-item--hover">
                <a href="#" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
        <div class="person-item--name">Robert</div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="person-item" data-aos="fade-up">
        <div class="person-item--image">
            <img src="img/person-15.jpg" alt="Robert">
            <div class="person-item--hover">
                <a href="#" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
        <div class="person-item--name">Robert</div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="person-item" data-aos="fade-up">
        <div class="person-item--image">
            <img src="img/person-16.jpg" alt="Robert">
            <div class="person-item--hover">
                <a href="#" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
        <div class="person-item--name">Robert</div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="person-item" data-aos="fade-up">
        <div class="person-item--image">
            <img src="img/person-17.jpg" alt="Robert">
            <div class="person-item--hover">
                <a href="#" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
        <div class="person-item--name">Robert</div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="person-item" data-aos="fade-up">
        <div class="person-item--image">
            <img src="img/person-10.jpg" alt="Robert">
            <div class="person-item--hover">
                <a href="#" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
        <div class="person-item--name">Robert</div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="person-item" data-aos="fade-up">
        <div class="person-item--image">
            <img src="img/person-11.jpg" alt="Robert">
            <div class="person-item--hover">
                <a href="#" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
        <div class="person-item--name">Robert</div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="person-item" data-aos="fade-up">
        <div class="person-item--image">
            <img src="img/person-12.jpg" alt="Robert">
            <div class="person-item--hover">
                <a href="#" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
        <div class="person-item--name">Robert</div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="person-item" data-aos="fade-up">
        <div class="person-item--image">
            <img src="img/person-13.jpg" alt="Robert">
            <div class="person-item--hover">
                <a href="#" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
        <div class="person-item--name">Robert</div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="person-item" data-aos="fade-up">
        <div class="person-item--image">
            <img src="img/person-14.jpg" alt="Robert">
            <div class="person-item--hover">
                <a href="#" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
        <div class="person-item--name">Robert</div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="person-item" data-aos="fade-up">
        <div class="person-item--image">
            <img src="img/person-15.jpg" alt="Robert">
            <div class="person-item--hover">
                <a href="#" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
        <div class="person-item--name">Robert</div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="person-item" data-aos="fade-up">
        <div class="person-item--image">
            <img src="img/person-16.jpg" alt="Robert">
            <div class="person-item--hover">
                <a href="#" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
        <div class="person-item--name">Robert</div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="person-item" data-aos="fade-up">
        <div class="person-item--image">
            <img src="img/person-17.jpg" alt="Robert">
            <div class="person-item--hover">
                <a href="#" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
        <div class="person-item--name">Robert</div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="person-item" data-aos="fade-up">
        <div class="person-item--image">
            <img src="img/person-10.jpg" alt="Robert">
            <div class="person-item--hover">
                <a href="#" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
        <div class="person-item--name">Robert</div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="person-item" data-aos="fade-up">
        <div class="person-item--image">
            <img src="img/person-11.jpg" alt="Robert">
            <div class="person-item--hover">
                <a href="#" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
        <div class="person-item--name">Robert</div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="person-item" data-aos="fade-up">
        <div class="person-item--image">
            <img src="img/person-12.jpg" alt="Robert">
            <div class="person-item--hover">
                <a href="#" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
        <div class="person-item--name">Robert</div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="person-item" data-aos="fade-up">
        <div class="person-item--image">
            <img src="img/person-13.jpg" alt="Robert">
            <div class="person-item--hover">
                <a href="#" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
        <div class="person-item--name">Robert</div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="person-item" data-aos="fade-up">
        <div class="person-item--image">
            <img src="img/person-14.jpg" alt="Robert">
            <div class="person-item--hover">
                <a href="#" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
        <div class="person-item--name">Robert</div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="person-item" data-aos="fade-up">
        <div class="person-item--image">
            <img src="img/person-15.jpg" alt="Robert">
            <div class="person-item--hover">
                <a href="#" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
        <div class="person-item--name">Robert</div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="person-item" data-aos="fade-up">
        <div class="person-item--image">
            <img src="img/person-16.jpg" alt="Robert">
            <div class="person-item--hover">
                <a href="#" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
        <div class="person-item--name">Robert</div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="person-item" data-aos="fade-up">
        <div class="person-item--image">
            <img src="img/person-17.jpg" alt="Robert">
            <div class="person-item--hover">
                <a href="#" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
        <div class="person-item--name">Robert</div>
    </div>
</div>