<header class="page-header" data-aos="fade-up">
    @@include('../widgets/__logo__.html')
    <div class="container-lg">
        <div class="header-container" data-aos="fade-up">
            @@include('../widgets/__main_menu__.html')
            <div class="right-side" data-aos="fade-up">
                <a href="#" class="btn btn-primary px-5">Login</a>
            </div>
        </div>
        <button class="toggle-menu" data-action="toggle-menu" data-target="#mainMenu" data-aos="fade-up">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
    </div>
</header>
