<footer class="page-footer">
    <div class="footer-container">
        <div class="footer-logo-box">
            @@include('../widgets/__logo__.html')
            <div class="copyright">© Evo Pricing</div>
        </div>
        <div class="footer-menu-box">
            <div class="main-menu">
                <ul>
                    <li><a href="pricing.html">Solutions</a></li>
                    <li><a href="impact.html">Impact</a></li>
                    <li><a href="blog.html">Resources</a></li>
                    <li><a href="our-people.html">Team</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            @@include('../widgets/__social_icons__.html')
        </div>
        <div class="copyright copyright__mobile">© Evo Pricing</div>
    </div>
</footer> <!-- footer.page-footer -->

<script src="js/jquery.min.js"></script>
<script src="js/pace.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery-modal-video.min.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/main.js"></script>
