<section class="section section-default" data-aos="fade-up">
    <div class="container position-relative feedback-container">
        <div class="row slider-container">
            <div class="col-sm-8 offset-sm-2 col-10 offset-1">
                <div id="feedback-slider" class="owl-carousel">
                    <div class="feedback-item">
                        <div class="feedback-item--simbol">
                            <img src="img/bloquote_simbol.png" alt="">
                        </div>
                        <div class="feedback-item--text">
                            <p>Blue Yonder gives us accurate demand forecasts so that we can minimize our leftover stock.</p>
                        </div>
                        <div class="feedback-item--person">
                            <div class="img-circle img-circle__tiny feedback-item--image">
                                <img src="img/feedback_person_01.png" alt="John Smith">
                            </div>
                            <div>
                                <p class="fi-name">John Smith</p>
                                <p class="fi-position">Manager</p>
                            </div>
                        </div>
                    </div>
                    <div class="feedback-item">
                        <div class="feedback-item--simbol">
                            <img src="img/bloquote_simbol.png" alt="">
                        </div>
                        <div class="feedback-item--text">
                            <p>Blue Yonder gives us accurate demand forecasts so that we can minimize our leftover stock.</p>
                        </div>
                        <div class="feedback-item--person">
                            <div class="img-circle img-circle__tiny feedback-item--image">
                                <img src="img/feedback_person_01.png" alt="John Smith">
                            </div>
                            <div>
                                <p class="fi-name">John Smith</p>
                                <p class="fi-position">Manager</p>
                            </div>
                        </div>
                    </div>
                    <div class="feedback-item">
                        <div class="feedback-item--simbol">
                            <img src="img/bloquote_simbol.png" alt="">
                        </div>
                        <div class="feedback-item--text">
                            <p>Blue Yonder gives us accurate demand forecasts so that we can minimize our leftover stock.</p>
                        </div>
                        <div class="feedback-item--person">
                            <div class="img-circle img-circle__tiny feedback-item--image">
                                <img src="img/feedback_person_01.png" alt="John Smith">
                            </div>
                            <div>
                                <p class="fi-name">John Smith</p>
                                <p class="fi-position">Manager</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- /#feedback-slider -->
            </div>
        </div>

        <!-- Arrows for #feedback-slider ( use data-slider attr for targeting ) -->
        <div class="slide-arrows">
            <button rel="prev"
                    data-slider="#feedback-slider"
                    class="btn btn-link">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                <img src="img/arrow--left.png"/>
            </button>
            <button rel="next"
                    data-slider="#feedback-slider"
                    class="btn btn-link">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                <img src="img/arrow--right.png"/>
            </button>
        </div>
    </div>
</section>