<link href="css/aos.css" rel="stylesheet">
<link href="css/app.min.css" rel="stylesheet">
<link href="css/modal-video.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">

<link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
<link rel="manifest" href="img/favicon/site.webmanifest">
<link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">