<div class="main-menu">
    <ul>
        <li>
            <a href="#">
                Solutions
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="menu-dropdown">
                <li><a href="pricing.html">Pricing</a></li>
                <li><a href="forecast.html">Forecast</a></li>
            </ul>
        </li>
        <li><a href="impact.html">Impact</a></li>
        <li><a href="blog.html">Resources</a></li>
        <li><a href="our-people.html">Team</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</div>