<div class="social-icons">
    <ul>
        <li>
            <a href="#">
                <i class="fa fa-linkedin"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
    </ul>
</div>